.auth-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: 0.2s ease-in-out;

  .logo {
    padding: 10px;
    cursor: pointer;
    color: $light;
    font-size: 2rem;
    position: absolute;
    z-index: 10;
    transition: 0.2s ease-in-out;

    img {
      width: 70px;
    }
  }

  .image {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    transition: 0.2s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      transition: 0.2s ease-in-out;
    }

    @media (max-width: 1200px) {
      position: initial;
      width: 100%;
      top: unset;
      transform: unset;
      left: unset;
      height: auto;
      text-align: center;

      img {
        width: 60%;
      }
    }
  }

  @media (max-width: 1200px) {
    .signup-auth {
      .custom_auth {
        height: 100%;

        h5 {
          margin-top: 100px;
        }
      }
    }
  }

  .auth {
    background-color: #09647421;
    backdrop-filter: blur(12px);
    border-top: 6px solid #096474;
    border-bottom: 6px solid #096474;
    border-radius: 20px;
    box-shadow: 3px 3px 20px #09647431;
    width: 600px;
    min-width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    min-height: 70vh;
    transition: 0.2s ease-in-out;

    .spinner-container {
      background-color: rgba(0, 0, 0, 0.612);
      width: 100%;
      height: 100%;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fade 200ms ease-in;

      @media (max-width: 1200px) {
        border-radius: unset;
      }
    }

    .oauth {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      transition: 0.2s ease-in-out;

      .oauth_btn {
        display: flex;
        border: 2px solid #096474;
        width: 300px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(219, 228, 236);
        margin-top: 10px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.336);

        .icon {
          font-size: 1.5rem;
          margin-right: 10px;

          .icon_fc {
            color: rgb(32, 146, 253);
          }
        }

        &:hover {
          background-color: $light;
        }
      }
    }

    .or {
      text-align: center;
      margin-top: 30px;
      color: $light;
      transition: 0.2s ease-in-out;
    }

    .custom_auth {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.2s ease-in-out;

      h5 {
        color: rgb(209, 209, 209);
        letter-spacing: 2px;
        transition: 0.2s ease-in-out;

        span {
          font-size: 1.2rem;
          font-style: italic;
          color: $light;
          text-decoration: underline;
          transition: 0.2s ease-in-out;
        }
      }

      #login-error {
        color: $danger;
        margin: 10px 0;
        font-weight: 700;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 10px;
        transition: 0.2s ease-in-out;

        input {
          padding: 10px;
          border: none;
          outline: none;
          background-color: rgb(184, 191, 197);
          font-size: 1.2rem;
          border-radius: 20px;
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.253);
          transition: 0.2s ease-in-out;
          font-family: inherit;

          &:focus {
            background-color: $light;
          }

          &:not(:first-child) {
            margin-top: 20px;
          }
        }

        button {
          margin-top: 20px;
          width: 250px;
          align-self: center;
          border: none;
          outline: none;
          padding: 7px;
          font-size: 1.1rem;
          font-family: inherit;
          border-radius: 20px;
          background-color: rgb(219, 228, 236);
          transition: 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: $light;
          }
        }
      }

      .info {
        margin-top: 30px;
        align-self: flex-start;
        padding: 20px;
        display: flex;
        transition: 0.2s ease-in-out;

        h4 {
          color: rgba(255, 255, 255, 0.438);
          letter-spacing: 2px;
          transition: 0.2s ease-in-out;
        }

        a {
          color: rgba(255, 255, 255, 0.74);
          margin-left: 10px;
          text-decoration: underline;
          transition: 0.2s ease-in-out;

          &:hover {
            color: $light;
          }
        }
      }
    }

    @media (min-width: 1920px) {
      width: 1000px;
      left: 45%;
      top: 50%;

      .oauth {
        .oauth_btn {
          border: 3px solid #096474;
          width: 600px;
          margin-top: 20px;

          .icon {
            font-size: 2.5rem;
          }

          p {
            font-size: 1.6rem;
          }
        }
      }

      .or {
        font-size: 2rem;
      }

      .custom_auth {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s ease-in-out;

        h5 {
          font-size: 1.3rem;

          span {
            font-size: 1.9rem;
          }
        }

        form {
          margin-top: 20px;

          input {
            padding: 15px;
            font-size: 1.6rem;
          }

          button {
            margin-top: 30px;
            width: 450px;
            padding: 10px;
            font-size: 1.6rem;
          }
        }

        .info {
          h4 {
            font-size: 1.5rem;
          }

          a {
            font-size: 1.7rem;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      backdrop-filter: blur(18px);
      border: unset;
      border-radius: unset;
      width: 100%;
      left: 0;
      top: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .oauth {
        margin-top: 60px;
      }

      .or {
        text-align: center;
        margin-top: 30px;
        color: rgba(0, 0, 0, 0.626);

        @media (max-width: 800px) {
          color: $light;
        }
      }

      .custom_auth {
        h5 {
          color: rgba(0, 0, 0, 0.626);

          span {
            color: rgba(0, 0, 0, 0.912);
          }

          @media (max-width: 850px) {
            color: rgb(209, 209, 209);

            span {
              color: $light;
            }
          }
        }
      }
    }

    @media (max-width: 450px) {
      .oauth {
        margin-top: 100px;

        .oauth_btn {
          width: 240px;
        }
      }

      .custom_auth {
        margin-top: 20px;

        form {
          width: 95%;
          min-width: 250px;

          button {
            width: 240px;
          }
        }

        .info {
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            color: rgba(255, 255, 255, 0.438);
            letter-spacing: 2px;
            text-align: center;
          }

          a {
            margin-left: 0;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
