.groups-container {
  padding: 10px;
  margin-top: 5px;

  .groups-section {
    #gr-count {
      background-color: $light;
      width: 120px;
      text-align: center;
      border-radius: 10px;
      position: relative;
      top: 9px;
      left: 50px;
    }

    .groups-wrapper {
      border-top: 1px solid rgb(209, 209, 209);
      border-top-left-radius: 10px;
      border-top-right-radius: 20px;

      .groups {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 0 30px;
        min-height: 50vh;
        position: relative;

        #no-groups {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $danger-hover;
          text-shadow: 0 0 1px $light;
          letter-spacing: 3px;
        }

        .group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.075);
          padding: 5px 20px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          .info {
            #group-name {
              color: $light;
              letter-spacing: 3px;
              text-shadow: 1px 1px 1px black;
            }

            #members {
              margin-top: 5px;
              color: rgb(170, 170, 170);
              font-weight: 400;
            }
          }

          .image {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0 0 25px rgb(41, 41, 41);
            background-color: rgb(147, 179, 196);

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }

            #online {
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: rgb(0, 197, 0);
              top: 0;
              right: 10%;
              border-radius: 50%;
              box-shadow: 0 0 3px rgb(7, 238, 7);
            }

            #offline {
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: $danger;
              top: 0;
              right: 10%;
              border-radius: 50%;
              box-shadow: 0 0 3px $danger-hover;
            }

            .badge {
              position: absolute;
              bottom: 60%;
              right: 70%;
              background-color: $danger;
              color: $light;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              font-size: 0.8rem;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: "Courier New", Courier, monospace;
            }
          }

          &:hover {
            background-color: $primary-trans;
          }
        }
      }

      @media (max-width: 500px) {
        .groups {
          width: 100%;

          #no-groups {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $danger-hover;
            text-shadow: 0 0 1px $light;
            letter-spacing: 3px;
          }

          .group {
            flex-direction: column-reverse;
            min-width: 200px;
            margin: 40px 0;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.116);
            padding: 10px;

            .info {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
