.group-container {
  position: absolute;
  background-color: $light-trans;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(18px);
  height: 100vh;
  overflow-y: scroll;
  animation: slideDown 0.1s ease-in;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(19, 19, 19);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-hover;
  }

  .chat-btn {
    padding: 10px;
    width: 150px;
    position: absolute;
    right: 0;

    #btn {
      width: 120px;
      border: none;
      outline: none;
      padding: 7px;
      font-family: inherit;
      font-size: 1rem;
      border-radius: 10px;
      background-color: rgb(34, 34, 34);
      color: $light-trans;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $light;
        background-color: black;
      }

      &:active {
        transform: scale(0.95);
        color: $light-trans;
      }
    }
  }

  .section-two {
    display: flex;
    margin-top: 50px;
  }
}
