.profile-container {
  width: 100%;

  @media (max-width: 600px) {
    margin-top: 50px;
  }

  .profile-info {
    padding: 10px;
    display: flex;
    margin-top: 40px;

    .avatar {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
          box-shadow: 1px 1px 5px rgb(0, 0, 0);
        }

        .edit-avatar {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: $secondary-hover;
          padding: 5px;
          border-bottom-right-radius: 15px;
          border-top-left-radius: 10px;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          #pencil {
            color: $light-trans;
            transition: 0.2s ease-in-out;
          }

          &:hover {
            #pencil {
              color: $light;
            }
          }
        }
      }
    }

    .info {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .user {
        #username {
          color: $light;
          font-weight: 600;
          letter-spacing: 2px;
        }

        #email {
          margin-top: 5px;
          color: $light;
          font-weight: 200;
        }

        #date {
          margin-top: 5px;
          color: $light;
          font-weight: 200;
        }
      }

      .update {
        margin-top: 20px;
        align-self: flex-end;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;

        #text {
          margin-right: 10px;
          color: rgb(154, 159, 163);
          transition: 0.2s ease-in-out;
        }
        #icon {
          color: rgb(154, 159, 163);
          font-size: 1.5rem;
          transition: 0.3s ease-in;
        }

        &:hover {
          #text {
            color: $light;
            text-decoration: underline;
          }

          #icon {
            color: $light;
          }
        }
      }
    }

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 100%;
      }

      .info {
        margin-left: 0;
        margin-top: 10px;
        align-items: center;
        text-align: center;
      }
    }
  }

  .friend-requests {
    padding: 10px;

    #title {
      position: relative;
      top: 10px;
      left: 100px;
      color: black;
      background-color: $light;
      width: 200px;
      text-align: center;
      padding: 0 10px;
      border-radius: 20px;

      @media (max-width: 400px) {
        left: 10px;
      }
    }

    .requests {
      border-top: 1px solid $light;

      .request-wrapper {
        margin: 40px 0;
        position: relative;
        min-height: 60vh;

        #no-reqs {
          text-align: center;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $danger-hover;
          text-shadow: 0 0 1px white;
          letter-spacing: 2px;
        }

        .request {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .req-col-1 {
            justify-self: start;
            display: flex;
            align-items: center;

            .image {
              width: 60px;
              height: 60px;
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }

            #name {
              margin-left: 10px;
              color: $light;
              font-weight: 400;
              word-break: break-all;
            }
          }

          .req-col-2 {
            #date {
              color: $light-trans;
              font-weight: 200;
            }
          }

          .req-col-3 {
            display: flex;

            #accept-btn {
              width: 70px;
              border: none;
              outline: none;
              padding: 3px 10px;
              border-radius: 10px;
              margin-right: 15px;
              background-color: $success;
              box-shadow: 1px 1px 5px $success-trans;
              color: rgb(174, 193, 211);
              cursor: pointer;
              font-family: inherit;
              transition: 0.2s ease-in-out;

              &:hover {
                box-shadow: 1px 1px 5px $success-hover;
                background-color: $success-hover;
                color: $light;
              }
            }

            #remove-btn {
              width: 70px;
              border: none;
              outline: none;
              padding: 3px 10px;
              border-radius: 10px;
              background-color: $danger;
              box-shadow: 1px 1px 5px $danger-trans;
              color: rgb(174, 193, 211);
              cursor: pointer;
              font-family: inherit;
              transition: 0.2s ease-in-out;

              &:hover {
                box-shadow: 1px 1px 5px $danger-hover;
                background-color: $danger-hover;
                color: $light;
              }
            }
          }

          @media (max-width: 600px) {
            flex-direction: column;
            width: 250px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.171);
            padding: 10px;
            border-radius: 5px;

            .req-col-1 {
              display: flex;
              justify-content: space-around;
              width: 100%;

              #name {
                margin-left: 10px;
                color: $light;
                font-weight: 400;
                word-break: break-all;
              }
            }

            .req-col-2 {
              margin-top: 10px;
              width: 100%;
            }

            .req-col-3 {
              margin-top: 15px;

              #accept-btn {
                width: 100px;
              }

              #remove-btn {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}
